main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  background-color: pink;
}

main div {
  height: 200px;

  background-color: grey;
  border: 1px solid black;
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
